:root {
    --background: #0237AB; 
    --font-color: #FFFF;
}

body {
    background-color: var(--background);
    font-family: "Handjet", handjet; 
    font-size: xx-large;
}

h1, h2, h3 {
    color: var(--font-color);
}

h1 {
    font-family: "Jersey 25", jersey; 
}